<h4 style="text-align: left">Timetable:</h4>
<br>
<div style="overflow: auto">
  <table id="timetables" data-sortable="true" class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Hours</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
    </thead>
    <tbody id="timetable_view-<%= @class.id %>">
    <%#= render partial: 'timetable_per_hour', collection: @class %>
    </tbody>
  </table>
</div>