version: '3'
services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER:'postgres'
      - POSTGRES_PASSWORD:'postgres'
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  web:
    build: .
    image: se2polito/team-d:web2
    command: bash -c "rm -f tmp/pids/server.pid && bundle install && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/studently
    ports:
      - "3000:3000"
    depends_on:
      - db