<h1>Welcome to School App</h1>
<p>Who you are?</p>
<%= link_to "<button>Teachers</button>".html_safe, controller: 'teachers' %>
<%= link_to "<button>Parents</button>".html_safe, controller: 'parents' %>
