<h1>Welcome to School App</h1>
<p>Who are you?</p>
<%= link_to "<button>Teacher</button>".html_safe, controller: 'teachers' %>
<%= link_to "<button>Parent</button>".html_safe, controller: 'parents' %>
