<h4 style="text-align: left">Students' list:</h4>
<br>
<div style="overflow: auto">
<table id="marks" data-sortable="true" class="table table-striped table-sm">
<caption></caption>
<thead>
<tr>
<th scope="col">Surname</th>
<th scope="col">Name</th>
<th scope="col">SSN</th>
<th scope="col">Date of birth</th>
<th scope="col">Enrollment date</th>
</tr>
</thead>
<tbody id="class_view-<%= @class.id %>">
<%= render partial: 'students/student', collection: @students %>
</tbody>
</table>
</div>