<h4 style="text-align: left">Students' list:</h2>
<br>
<div style="overflow: auto">
<table id="marks" data-sortable="true" class="table table-striped table-sm">
<thead>
<tr>
<th>Surname</th>
<th>Name</th>
<th>SSN</th>
<th>Date of birth</th>
<th>Enrollment date</th>
</tr>
</thead>
<tbody id="class_view-<%= @class.id %>">
<%= render partial: 'students/student', collection: @students %>
</tbody>
</table>
</div>