<table id="marks" data-sortable="true" class="table table-striped table-sm" style="table-layout: fixed;">
<thead>
<tr>
<th>Select</th>
<th>Name</th>
<th>Surname</th>
<th>SSN</th>
<th>Date of birth</th>
<th>Enrollment date</th>
</tr>
</thead>
<tbody id="class_view-<%= @school_class.id %>">
<%= render partial: 'students/student_class',  collection: @students, locals: {checked: 'checked'}%>
<%= render partial: 'students/student_class',  collection: @students_available, locals: {checked: ''}%>
</tbody>
</table>
<br>
<button class="btn btn-success"><span class="mdi mdi-check-bold"> Confirm</span></button>