body {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-align: center;
    color: #446c7a;
}

input, select {
    border: 1px solid;
    border-radius: 4px;
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #ffff;
    color:#446c7a;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

select {
    width: 50%;
}

input:focus {
    background: #ecedee;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

form {
    background: white;
    border-radius: 8px;
}

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

#class_select {
    width: 100px;
}

.custom-select {
    color: #446c7a;
}

.btn-primary {
    background-color: #74a4b5;
    color: white;
    border-color: white;
}

*:disabled, *.disabled {
    cursor: not-allowed;
}

.btn-primary:hover {
    background-color: #446c7a;
    color: white;
    border-color: #74a4b5;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #2f4b55;
    color: lightgrey;
    border-color: #2f4b55;
    cursor: not-allowed;
    pointer-events: auto !important;
}

#new_mark_lecture, #new_assignment_lecture {
    float: left;
    margin-bottom: 15px;
}

.input-group-text {
    color: #446c7a;
}

td,th {
    padding: .5em 1em;
}

td {
    color: #446c7a;
}

th {
    background-color: #74a4b5;
    color: white;
}

h1 {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26px;
}

h3 {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 1.7rem;
}

p {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 19px;
}

#new_student {
    width: 90%;
    display: inline-block;
}

.toggle-handle {
    background-color: white;
}

.modal-dialog {
    max-width: 50%;
}

.nav-link {
    color: #74a4b5;
}

.toggle.disabled {
    cursor: not-allowed;
}

#calendar-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    word-wrap: break-word;
    align-items: center;
    width: 100%;
}

#legend {
    margin-bottom: 30px;
    max-width: 850px;
}

#calendar {
    max-width: 1000px;
}