body {
    font-family: "Lato", sans-serif;
    color: #3b8070;
    text-align: center;
    background-color: rgb(230, 235, 236);
}

input[type=submit], button {
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 22px;
    margin-right: 22px;
    color: #3b8070;
    background-color: white;
    border: 2px solid #3b8070;
    border-radius: 10px;
    border-top-style: hidden;
    width: 180px;
    height: 45px;
    transition: all 0.3s;
}

input[type=submit]:hover, button:hover {
    color: white;
    border: 2px solid rgb(170, 177, 187);
    background-color: #3b8070;
    cursor: pointer;
}

input, select {
    border: none;
    border-radius: 4px;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin: 0 0 30px;
}

input:focus {
    background: #d2d9dd;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

form {
    max-width: 500px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}