body {
    font-family: "Lato", sans-serif;
    color: #3b8070;
    text-align: center;
    background-color: rgb(230, 235, 236);
}

input[type=submit], button {
    display: inline-block;
    color: #3b8070;
    background-color: white;
    border: 2px solid #3b8070;
    border-radius: 10px;
    border-top-style: hidden;
    transition: all 0.3s;
    width: 50%;
}

input[type=submit]:hover, button:hover {
    color: white;
    border: 1px solid white;
    background-color: #3b8070;
    cursor: pointer;
}

input, select {
    border: 1px solid;
    border-radius: 4px;
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #ffff;
    color:#3b8070;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

select {
    width: 50%;
}

input:focus {
    background: #ecedee;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

form {
    max-width: 500px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
}

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.custom-select {
    color: #3b8070;
}

#confirm_child {
    background-color: #3b8070;
    color: white;
}

#confirm_child:hover {
    background-color: white;
    color: #3b8070;
    border-color: #3b8070;
}