.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.container {
    min-width: 200px;
    padding: 20px;
    max-width: 100%;
    align-items: stretch;
}

.card {
    padding: 20px;
    background: white;
    border-radius: 5px;
}