.close:hover {
    cursor: pointer;
}
[tabindex = "0"] {
    float: left;
    margin-left: 39%;
}

.fa-info-circle {
    float: right;
    margin-top: 1vh;
    margin-right: 33%;
}

.tooltip {
    margin-top: 1vh;
    left: 26px !important;
    top: 16px !important;
    width: 150px !important;
}