.login-content .login-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.login-content .login-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.login-content h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
    color: #74a4b5;
}

.login-content .form-control:focus {
    border-color: #74a4b5;
}

.login-content .form-control, .login-content .btn {
    min-height: 40px;
    border-radius: 3px;
}

.login-content .login-footer {
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 13px;
}
.login-content .login-footer a {
    color: #999;
}

.avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 9;
    background: #74a4b5;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.avatar img {
    width: 100%;
}
.login-content .login-dialog {
    margin-top: 80px;
}
.login-content .btn {
    color: #fff;
    border-radius: 4px;
    background: #74a4b5;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.login-content .btn:hover, .login-content .btn:focus {
    background: #6a94b5;
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}