#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #74a4b5;
    color: white;
    transition: all 0.3s;
    border-right: solid 1px lightgrey;
    -moz-box-shadow:    5px 0 5px -5px #555;
    -webkit-box-shadow: 5px 0 5px -5px #555;
    box-shadow: 5px 0 5px -5px #555;
}

#sidebar .sidebar-header {
    padding: 30px 30px 20px 30px;
    background: #74a4b5;
    font-weight: lighter;
    color: white;
}

#sidebar a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 0px 0;
    text-align: left;
}

#sidebar ul p {
    text-align: center;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-bottom: 0px;
    border-bottom: solid 1px white;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #446c7a;
    color: white;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background-color: #446c7a;
    color: white;
}

#logout-form {
    text-align: center;
    background: none !important;
}

.btn-link:hover {
    color: #446c7a;
}

.btn-link {
    color: white;
}