<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @administrator.to_s %>!</h3>
  </div>

  <ul class="list-unstyled components">
  <p>Administrator page</p>
  <li class="active"><%= link_to " Home", administrator_path(@administrator), class: 'mdi mdi-view-dashboard' %></li>
  <li><%= link_to " Users", administrator_users_url(@administrator), class: 'mdi mdi-account-multiple' %></li>
    <li><%= link_to " Add user", administrator_add_user_url(@administrator), class: 'mdi mdi-account-plus' %></li>
  </ul>
<% end %>

<p>Work in progress :)</p>

