<ul>
    <li class="nav-item">
        <a class="nav-link" id="<%= subject.subject %>-tab" data-toggle="tab" href="#<%= subject.subject %>" role="tab" aria-controls="<%= subject.subject %>" aria-selected="true"><%= subject.subject %></a>
    </li>
</ul>