<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css">
<div class="sidenav">
  <h2 class="hellouser">
  Hello, <%= @parent.name %> <%= @parent.surname %>!
  </h2>
<div class="navcontent">
  <%= link_to "<span class = 'mdi mdi-view-dashboard'> Home</span>".html_safe, parent_path(@parent), class: "active" %>
  <%= link_to "<span class = 'mdi mdi-school'> Marks</span>".html_safe, parent_marks_url %>
</div>
</div>