<% content_for :sidebar do %>
  <div class="sidebar-header">
    <h3>Welcome <%= @parent.name %>!</h3>
  </div>

    <ul class="list-unstyled components">
    <p>Parent page</p>
    <li><%= link_to " Home", parent_path(@parent), class: 'mdi mdi-view-dashboard', data: { turbolinks: false } %></li>
    <li class="active"><%= link_to " Marks", parent_marks_url, class: 'mdi mdi-bookmark', data: { turbolinks: false } %></li>
  </ul>
<% end %>
<div class="main">
    <script type="text/javascript">
    function loadMarks(){
        $.ajax({
            type: 'POST',
            url: "students/" + document.getElementById("student_select").value, 
            contentType: "text/javascript",
        }).done(function(response){
            document.getElementById("subjects-tabs").firstChild.firstElementChild.classList.add("active");
            document.getElementById("subjects-tabs-content").children[1].classList.add("show");
            document.getElementById("subjects-tabs-content").children[1].classList.add("active");
          });
    }
    $(document).ready(function() {
      loadMarks();
      document.getElementById("student_select").onchange = loadMarks;
    });
    </script>
    <%= select_tag :student_select, options_for_select(@students.map{|s| [s.to_s, s.id]}), class: "switch-child"%>
  <br/><br>
  <ul class="nav nav-tabs" id="subjects-tabs" role="tablist">
  </ul>
  <div class="tab-content" id="subjects-tabs-content">
  </div>
</div>
