<!-- Modal -->
<div class="modal fade" id="attendance-show-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Attendance</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="panel panel-info" id="panel-table" style="visibility: hidden;">
          <div class="panel-body">
            <table class="table table-striped" id="table-attendance">
              <caption></caption>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Type</th>
                <th scope="col">Enters at</th>
                <th scope="col">Exits at</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
